*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f8f8f8;
}

.hero{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092');
    background-size:cover;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    align-items:center;
}

.logo{
    font-size:28px;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero-content{
    text-align:center;
    margin-top:180px;
}

.hero-content h2{
    font-size:48px;
}

.hero-content button{
    margin-top:20px;
    padding:12px 30px;
    background:#ff7b00;
    border:none;
    color:white;
    border-radius:5px;
}

/* MENU */
.menu{
    padding:80px 20px;
    text-align:center;
}

.menu h2{
    margin-bottom:40px;
}

.menu-items{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.item{
    background:white;
    padding:25px;
    width:200px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

/* BOOKING */
.booking{
    background:#222;
    color:white;
    padding:70px 20px;
    text-align:center;
}

.booking form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.booking input{
    padding:12px;
    border-radius:5px;
    border:none;
}

.booking button{
    padding:12px;
    background:#ff7b00;
    border:none;
    color:white;
    border-radius:5px;
}

/* FOOTER */
footer{
    background:black;
    color:white;
    padding:15px;
    text-align:center;
}

/* RESPONSIVE */
@media(max-width:768px){
    nav{
        flex-direction:column;
    }
    .contact-box{
    flex-direction:column;
    }
    .hero-content h2{
        font-size:32px;
    }
}

.item img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;
}

.item{
    transition:0.3s;
}

.item:hover{
    transform:translateY(-8px);
}

.special{
    padding:80px 20px;
    text-align:center;
    background:#fff;
}

.special-box{
    max-width:900px;
    margin:40px auto;
    display:flex;
    background:white;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    overflow:hidden;
}

.special-box img{
    width:50%;
    object-fit:cover;
}

.special-content{
    padding:40px;
    text-align:left;
}

.special-content span{
    display:block;
    font-size:22px;
    margin:15px 0;
    color:#ff7b00;
}

.special-content button{
    padding:10px 25px;
    border:none;
    background:#ff7b00;
    color:white;
    border-radius:5px;
}


.order-btn{
    margin-top:10px;
    padding:8px 20px;
    border:none;
    background:#ff7b00;
    color:white;
    border-radius:5px;
}

@media (max-width: 768px){

    nav{
        flex-direction: column;
        gap: 10px;
    }

    nav ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero-content{
        margin-top: 120px;
        padding: 0 15px;
    }

    .hero-content h2{
        font-size: 32px;
    }

    .menu-items{
        grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    }

    .special-box{
        flex-direction: column;
    }

    .special-box img{
        width: 100%;
        height: 220px;
    }

    .special-content{
        padding: 25px;
        text-align: center;
    }

    .booking form{
        width: 100%;
    }
}

button:hover{
    opacity: 0.9;
    transform: scale(1.03);
    transition: 0.2s;
}

.contact{
    padding:80px 20px;
    background:#f3f3f3;
    text-align:center;
}

.contact-box{
    max-width:900px;
    margin:40px auto;
    display:flex;
    gap:40px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.contact-info{
    flex:1;
    text-align:left;
}

.contact-form{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

.contact-form button{
    padding:12px;
    background:#ff7b00;
    border:none;
    color:white;
    border-radius:5px;
}

